{% load static %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand"><img src="{% static 'images/logo_tivi.png' %}" style="height: 25px; width: auto; float:left;"/>&nbsp;TiVi+</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav">
		
		<li {% if active == "planning" %}class="active"{% endif %}><a href="/planning/">Planning</a></li>
		
		<li {% if active == "stocklist" %}class="active"{% endif %}><a href="/materiel/">Liste du matériel</a></li>
		<li><a href="/admin/">Administration</a></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
		<li><a href="/logout/"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Se déconnecter</a></li>
		</li>
	    </ul>
	</div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


