{% extends 'base_template.html' %}
{% load static %}
{% load widget_tweaks %}

{% block scripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% endblock %}


{% block contents %}
<div class="center">
	<h1 class="center" style="width:100%; text-align:center">Planning de réservation de TiVi+</h1>

	<form action="{% url 'members:login' %}" method='POST' class="form-signin">
		{% csrf_token %}
		<div class="form-control">
			<label for="{{ login_form.username.id }}">Identifiant</label>
			{% render_field login_form.username class+="form-control" %}

			<br />

			<label for="{{login_form.password.id }}">Mot de passe</label>
			{% render_field login_form.password class+="form-control" %}

			{% for error in errors %}
				<p>{{ error }}</p>
			{% endfor %}
		</div>
		<br />

		<button type="submit" class="btn btn-success" style="width:100%">Se connecter</button>
	</form>
</div>
{% endblock %}


